.category {
  border: 1px solid black;
  text-align: left;
}

.categoriesRoot {
  float:left;
  min-width: 30%;
  min-height: 400px;
  outline: solid black 1px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.categories {
  width: auto;
  height: auto;
  outline: solid black 1px;
}

.categoryButtons {
  float: right;
}

.addCategory {
  float: left;
}

/*
.editCategory {
  position: relative;
  left: 35px;
}
*/

.categoryTitle {
  padding-left: 5px;
}

.categoryEdit {
  margin-right: 28px;
}

.toolButton {
  margin: 0 3px;
}
